@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveStars {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  .animate-stars {
    background: url('/stars.jpg') repeat top center;
    background-size: cover;
    animation: moveStars 100s linear infinite;
  }
  